html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Cambay", sans-serif;
}

.display-1 {
  font-size: 300px;
  opacity: 0.65;
}

.space {
  margin-right: 100px;
}

a {
  color: #fff;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:active {
  color: #fff;
  text-decoration: underline;
}

.block1 {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/index.jpg");
}

.jumbotron {
  background: none;
  width: 50%;
  position: absolute;
  left: 10%;
  top: 100px;
}


/* position-2 CSS */

/* .position-2 {
  position: absolute;
  top: 160px;
  right: 0px;

  left: 1250px;
}

.menu {
  display: inline;
} */

/* End position-2 CSS */